body {
  width: 740px;
  margin: 40px auto 0;
  background-color: #fff;
}

h1,
p,
h2 {
  text-align: center;
}

h1 {
  font-family: "Geologica";
  font-weight: 700;
  text-transform: uppercase;
}

.texto-adicioanl {
  font-family: "Geologica";
  font-weight: 300;
  padding: 0 60px;
}

form {
  margin: 45px 0;
}

.texto-secundario {
  font-family: "Geologica";
  font-weight: 700;
}

.linha1,
.linha2 {
  display: flex;
}

.valores,
.taxa-juros,
.periodo {
  margin: 0 auto;
}

.valores input {
  padding: 0;
}

.valores label {
  font-family: "Geologica";
  background-color: #e6efff;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px 0 0 8px;
}

.titulo-inputs {
  font-family: "Geologica";
  font-weight: 300;
  font-size: 14px;
  margin: 0 0 5px;
}

.input {
  font-size: 16px;
  border: none;
  margin: 0 0 0 -10px;
  height: 40px;
  background-color: #e6efff;
  border-radius: 0 8px 8px 0;
}

.valor-input {
  float: left;
}

#valor-inicial::-webkit-inner-spin-button,
#valor-inicial::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#valor-mensal::-webkit-inner-spin-button,
#valor-mensal::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#taxa-juros::-webkit-inner-spin-button,
#taxa-juros::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#taxa-juros,
#periodo {
  padding: 0 0 0 15px;
  width: 160px;
  background-color: #e6efff;
  border-radius: 8px 0 0 8px;
}

.linha2 select {
  height: 40px;
  border: none;
  margin: 0 0 0 -4px;
  border-radius: 0 8px 8px 0;
  background-color: #0071ff;

  font-family: "Geologica";
  font-weight: 300;
  font-size: 14px;

  color: #fff;

  cursor: pointer;
  transition: background-color 500ms;
}

.linha2 select:hover {
  background-color: #0757ba;
  transition: background-color 500ms;
}

#select-periodo {
  width: 76px;
}

span {
  display: flex;
}

.linha3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.linha3 button {
  margin: 5px 5px;
  padding: 14px 40px;
  border-radius: 8px;
  border-color: #fff;
  border-style: none;
}

.button-calcular,
.button-limpar {
  font-family: "Geologica";
  font-weight: 700;
  font-size: 20px;

  cursor: pointer;
}

.button-calcular {
  color: #fff;
  background: #0071ff;
  transition: background-color 500ms;
}

.button-calcular:hover {
  background-color: #0757ba;
  transition-duration: 500ms;
}

.button-limpar {
  font-weight: 300;
  columns: #0071ff;
  background: #e6efff;
  transition-duration: 500ms;
}

.button-limpar:hover {
  background-color: #ccdefc;
  transition-duration: 500ms;
}

.observacao {
  font-family: "Geologica";
  font-weight: 300;
  font-size: 12px;
  color: #888888;
}

/* CSS ELEMENTOS DO JS */

/* SEÇÃO RESULTADOS */

.titulo-resultado {
  font-family: "Geologica";
  font-weight: 700;
}

.div-dados {
  display: flex;
  margin: 15px 0 25px;
}

.div-dados div {
  margin: 0 auto 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #e6efff;
  padding: 20px 36px;
  border-radius: 8px;
}

.resultado-valor-final,
.resultado-valor-investido,
.resultado-valor-juros {
  font-family: "Geologica";
  font-size: 25px;
  font-weight: bold;

  margin: 4px 0 0;
}

.resultado-valor-final {
  color: #455a64;
}

.resultado-valor-investido {
  color: #6115dd;
}

.resultado-valor-juros {
  color: #117729;
}

.texto-resultado-valor {
  font-family: "Geologica";
  font-size: 12px;
  font-weight: 400;
}

/* LAYOUT RESPONSIVOS */

/* MAXIMO 412px de Tela */

@media (max-width: 576px) {
  body {
    width: 400px;
    margin: 40px auto 0;
    background-color: #fff;
  }

  .texto-adicioanl {
    padding: 0 30px;
  }

  .linha1,
  .linha2,
  .linha3 {
    display: block;
    margin: 0 20px;
  }

  .titulo-inputs {
    font-size: 18px;
  }

  .input {
    height: 50px;
    margin: 0;
  }

  .valores label {
    padding: 13px 15px 17px;
  }

  .valores input {
    width: 250px;
    margin: 0 -4px;
  }

  .linha2 select {
    height: 50px;
  }

  #taxa-juros {
    width: 200px;
  }

  #periodo {
    width: 210px;
  }

  .linha2 {
    margin-bottom: 15px;
  }

  .observacao {
    margin: 20px 20px;
  }

  /* CSS ELEMENTOS DO JS */

  /* SEÇÃO RESULTADOS */

  .div-dados {
    display: block;
    margin: 0 20px;
  }

  .titulo-resultado {
    margin: 0 0 10px 20px;
  }

  .div-dados div {
    margin-bottom: 10px;
  }
}
